<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: boots_trap">
    <meta charset="UTF-8">
    <title>Password Reset Request</title>
    <meta charset="UTF-8">
</head>
<body>
<div class="container col-md-offset-4 col-md-8 mt-lg-5">
    <div th:replace="fragments::nav_bar"></div>
    <!-- show errors if any . -->
    <div class="row mt-2">
        <div th:if="${param.not_found}" class="col-sm-8">
            <p class="alert alert-danger alert-dismissible">No user found with this email</p>
        </div>

        <div th:if="${param.success}" class="col-sm-8">
            <p class="alert alert-info">We have just sent a verification link to your email, please check to complete your request.</p>
        </div>
<!--
        <div th:if="${param.error}" class="col-sm-8">
            <p class="alert alert-info">[[${error}]]</p>
        </div>-->
    </div>


    <h3 class="m-lg-5">Forgot Password</h3>
    <form th:action="@{/registration/forgot-password}" method="post" class="px-4">

        <div class="mb-3 row">
            <p></p>
            <label for="email" class="col-sm-2 col-form-label">Enter your email</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="email" name="email" required autofocus="autofocus">
            </div>
            <div class="mb-3 col-sm-4">
                <button type="submit" class="btn btn-success"> Verify email</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
