<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: boots_trap">
    <meta charset="UTF-8">
    <title>Reset Password</title>
</head>
<body>
<div class="container offset-sm-2 col-md-8 mt-lg-5">
    <div th:replace="fragments :: nav_bar"></div>
    <!-- show success message if everything went well . -->
    <div th:if="${param.reset_success}" class="col-sm-8">
        <p class="alert alert-info">You have successfully reset your password, please log in here.</p>
    </div>

    <div class="row mt-2">
        <form th:action="@{/registration/reset-password}" method="post" class="px-4 mt-lg-5">
            <input type="hidden" name="token" th:value="${token}">
            <h2 class="mb-4">Reset your password </h2>

            <div class="mb-3 row">
                <label for="password" class="col-sm-2 col-form-label">New Password</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="password" name="password" required placeholder="new password"
                           autofocus="autofocus">
                </div>
            </div>

            <div class="mb-3 row">
                <label for="confirm" class="col-sm-2 col-form-label">Confirm Password</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="confirm" name="confirm" required placeholder="confirm new password"
                           autofocus="autofocus" oninput="checkConfirmPassword(this)">
                </div>
            </div>

            <div class="mb-3">
                <button type="submit" name="login" id="login" class="btn btn-success"> Reset Password</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    function checkConfirmPassword() {
        const password = document.querySelector('input[name=password]');
        const confirm = document.querySelector('input[name=confirm]');
        if (confirm.value === password.value) {
            confirm.setCustomValidity('');
        } else {
            confirm.setCustomValidity('Confirm password does not match');
        }
    }
</script>
</body>
</html>
