<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
          crossorigin="anonymous">
</head>
<body>
<div class="container col-md-offset-3 col-md-8 mt-lg-5">
    <div class="row mt-2">
        <div th:if="${param.success}" class=" alert alert-info">
            Registration successful,
            please check your email to complete your registration.
        </div>
        <h2 class="m-4">User Registration Form</h2>
    </div>
    <form th:action="@{/registration/register}" method="post" th:object="${user}" class="px-4">
        <div class="mb-3 row">
            <label for="firstName" class="col-sm-2 col-form-label">first Name</label>
            <div class="col-sm-6">
                <input type="text"  id="firstName" autofocus="autofocus"
                       class="form-control" required name="firstName" th:field="*{firstName}" >
            </div>
        </div>

        <div class="mb-3 row">
            <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-6">
                <input type="text"  id="lastName" autofocus="autofocus"
                       class="form-control" required name="lastName" th:field="*{lastName}" >
            </div>
        </div>

        <div class="mb-3 row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-6">
                <input type="text"  id="email" autofocus="autofocus"
                       class="form-control" required name="email" th:field="*{email}" >
            </div>
        </div>

        <div class="mb-3 row">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-6">
                <input type="password"  id="password" autofocus="autofocus"
                       class="form-control" required name="password" th:field="*{password}" >
            </div>
        </div>
 <div>
     <button type="submit" class="btn btn-success">Register</button>
     <span>Registered already? <a href="/" th:href="@{/login}">
         Login here.
     </a></span>
 </div>
    </form>
</div>

</body>
</html>
